<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TwitterClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TwitterClient.Properties.Settings>
            <setting name="consumer_key" serializeAs="String">
                <value>r1xe4MXNfCg4aJRvmaNig5IOw</value>
            </setting>
            <setting name="consumer_secret" serializeAs="String">
                <value>DaczKjZivPFHOZ1DnwMPCD05EomwGLMMtxqs4McU8Sm7CtPb2b</value>
            </setting>
        </TwitterClient.Properties.Settings>
    </applicationSettings>
</configuration>